/* ===== FORM CARD ===== */
.form-card {
  background: white;
  border-radius: 16px;
  padding: 24px;
  max-width: 420px;
  border: 1px solid #eee;
}

/* TITLE */
.form-card h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}

/* QUICK BUTTONS */
.quick-btns {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.quick-btns button {
  flex: 1;
  background: #2f7d5c;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-weight: 600;
  cursor: pointer;
}

/* INPUT */
.form-card input,
.form-card select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

/* BUTTONS */
.wallet-btn {
  width: 100%;
  background: #2f7d5c;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  cursor: pointer;
}

.stripe-btn {
  width: 100%;
  background: #1f3557;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

